# Node
node_modules
npm-debug.log
yarn-error.log

# Composer
vendor

# Laravel
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# OS / Editor files
.DS_Store
Thumbs.db
.idea
.vscode

# Tests & Docs
tests
README.md
