@font-face {
    font-family: "Poppins";
    src: url("/control/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.table td,
.table th {
    color: #000;
    padding: .55rem;
}